body {
    margin: 0;
    padding: 0;
    height: 100vh;  /* Fallback */
    height: 100dvh;  /* https://caniuse.com/?search=dvh */
}

#root {
    display: flex;
    flex-direction: column;
    height:100%
}

main {
    flex:1;
}