body {
    margin: 0;
    padding: 0;
    height: 100vh;  /* Fallback */
    height: 100dvh;  /* https://caniuse.com/?search=dvh */
}

@media (prefers-color-scheme: dark) {
    body {
        background-color:#101010
    }
    .MuiAppBar-root {
        background-image: black;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color:whitesmoke
    }
}

#root {
    display: grid;
    grid-template-rows: 90vh auto;
    height:100%;
    overflow-y: hidden;
}

main {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}